.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-button, .mobile-menu__close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container .page-header__container {
  display: flex;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--centered {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #212121;
  word-spacing: -0.4ch;
}

.logo--white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__item {
  color: #2196f3;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media--footer {
  padding: 0;
}

.social-media__item {
  display: flex;
  border-radius: 50%;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  fill: #afb1b8;
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-media__link--footer {
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link--footer:hover, .social-media__link--footer:focus {
  background-color: #2196f3;
}

.social-media__icon {
  width: 20px;
  height: 20px;
}

.page-header {
  background: #ffffff;
}

.page-header--line {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
}

.menu-button {
  margin-left: auto;
}

.menu-button__icon {
  width: 40px;
  height: 40px;
  display: block;
  fill: #212121;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out, visibility 500ms ease-in-out, opacity 500ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__list {
  margin-bottom: 302px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item--active {
  color: #2196f3;
}

.mobile-menu__contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobile-menu__tel {
  margin-bottom: 32px;
  font-size: 34px;
  color: #2196f3;
}

.mobile-menu__email {
  font-size: 24px;
  color: #757575;
}

.mobile-menu__social-list {
  display: flex;
}

.mobile-menu__social-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-item:not(:first-child)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -20px;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__close-icon {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: block;
  fill: #212121;
}

.site-nav {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    display: unset;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link--active {
    position: relative;
    color: #2196f3;
  }
  .site-nav__link--active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: unset;
    margin-right: 50px;
  }
}

.contacts-list__link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__mail-icon {
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__mail-icon:hover, .contacts-list__mail-icon:focus {
  fill: #2196f3;
}

.contacts-list__tel-icon {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__tel-icon:hover, .contacts-list__tel-icon:focus {
  fill: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    line-height: 1.17;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), (min-resolution: 192dpi) and (min-width: 320px), (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desktop@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: unset;
    margin-left: unset;
  }
}

.feature-list__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
    margin-top: unset;
    margin-left: unset;
  }
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__description {
  font-size: 14px;
  line-height: 1.7;
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: unset;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  }
}

@media screen and (min-width: 1200px) {
  .about-list__text-position {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__thumb {
    position: relative;
    height: 294px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-list__item:nth-child(2) {
    margin-bottom: 30px;
  }
  .team-list__item:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin: 0;
    margin-right: 30px;
  }
}

.team-list__card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-list__title-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
    margin-top: unset;
    margin-left: unset;
  }
}

.clients-list__item {
  width: calc((100% / 2) - 30px);
  margin-top: 30px;
  margin-left: 30px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% / 3) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    margin-top: unset;
    margin-left: unset;
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:hover svg, .clients-list__link:focus,
.clients-list__link:focus svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-list__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__logo:hover {
  fill: inherit;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
  .filters__item:nth-child(5) {
    margin-bottom: unset;
  }
  .filters__item:nth-child(4) {
    margin-bottom: unset;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  background-color: #f5f4fa;
  color: #212121;
  height: 38px;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-list__reuseable {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-list__item {
  width: 100%;
  margin-bottom: 30px;
}

.product-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .product-list__item {
    width: calc((100% / 2) - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    width: calc((100% / 3) - 60px);
    margin-right: 30px;
  }
}

.product-list__thumb {
  position: relative;
  overflow: hidden;
}

.product-list__card-image {
  display: block;
}

.product-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list__item:hover .product-list__overlay,
.product-list__item:focus .product-list__overlay {
  opacity: 1;
  transform: translateY(0%);
}

.product-list__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.product-list__card {
  padding: 20px 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.product-list__card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-list__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  line-height: 1.17;
}

.product-list__category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: initial;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    width: initial;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__sm-wrapper {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer__sm-wrapper {
    margin-top: unset;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__sm-wrapper {
    margin: unset;
    margin-left: 70px;
  }
}

.footer__sm-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address {
    display: flex;
  }
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link--white {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__text {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__text {
    margin-top: unset;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  padding: 16px 15px 16px 15px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}

.subscribe__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__container {
  padding: 40px;
}

.modal__text-wrapper {
  min-height: 60px;
}

.modal__text {
  display: inline;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__text--centred {
  display: block;
  text-align: center;
}

.modal-form__label {
  position: relative;
  display: block;
}

.modal-form__label-text {
  display: block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Modal Icons */
.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 15px;
  display: inline-block;
  cursor: pointer;
  width: 25px;
}

/* Modal Inputs */
.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__comment-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__comment-section {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 25px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form__comment-section:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__comment-section::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__agreement-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
}

/* Checkbox */
.modal-form__agreement-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__agreement-checkbox:checked + .modal-form__checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/checked-icon.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: #ffffff;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
}

.modal-form__agreement-checkbox:focus + .modal-form__checkbox-icon {
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

.modal-form__agreement-link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

/* Submit Button */
.modal-button {
  display: block;
  min-width: 200px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-button__text {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Modal Close-Button */
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-svg,
.close-button:focus .close-svg {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */