.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  justify-content: center;
  margin: 0px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-list__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.feature-list__icon-wrapper {
  @include centredFlex;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondaryBgColor;
}

.feature-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  color: $fontColor;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__description {
  font-size: 14px;
  line-height: 1.7;
}
