.product-list {
  &__reuseable {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-list__item {
  width: 100%;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% / 2) - 30px);

    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% / 3) - 60px);

    margin-right: 30px;
  }
}

// .product-list__link {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

.product-list__thumb {
  position: relative;
  overflow: hidden;
}

.product-list__card-image {
  display: block;
}

.product-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms $timingFunction, opacity 250ms $timingFunction;

  .product-list__item:hover &,
  .product-list__item:focus & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.product-list__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 77px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $whiteColor;

  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.product-list__card {
  padding: 20px 20px;

  background: $whiteColor;
  border: 1px solid #eeeeee;
}

.product-list__card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-list__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  color: $fontColor;
  line-height: 1.17;
}

.product-list__category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
