.team {
  background-color: $secondaryBgColor;
}

.team-list {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &:nth-child(1) {
      margin-right: 30px;
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-bottom: 30px;
    }
    &:nth-child(3) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin: 0;
      margin-right: 30px;
    }
  }
}

.team-list__card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
}

.team-list__title-name {
  margin-bottom: 10px;

  color: $fontColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
