.section-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: $fontColor;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

// .section-title {
//   margin-bottom: 50px;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
//   text-align: center;
//   color: $fontColor;
// }
