.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    @include centredFlex();
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filters__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;

    &:nth-child(5) {
      margin-bottom: unset;
    }

    &:nth-child(4) {
      margin-bottom: unset;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  background-color: #f5f4fa;
  color: $fontColor;
  height: 38px;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  cursor: pointer;
  box-shadow: none;

  transition: color 250ms $timingFunction,
    background-color 250ms $timingFunction, box-shadow 250ms $timingFunction;

  &:hover,
  &:focus {
    color: $whiteColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
