.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $bgColor;
}

.footer__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $whiteColor;
}

.footer__sm-wrapper {
  margin-left: 70px;
}

.footer__sm-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: $whiteColor;
}
