.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $bgColor;
}

.footer__container {
  text-align: center;
  // align-items: baseline;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    text-align: initial;
  }
}

.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: initial;
  }
}

// .footer__container {
//   display: flex;
//   align-items: baseline;
// }

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $whiteColor;
}

.footer__sm-wrapper {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: unset;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin: unset;
    margin-left: 70px;
  }
}

.footer__sm-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: $whiteColor;
}
