.product-list {
  display: flex;
  flex-wrap: wrap;

  &__reuseable {
    cursor: pointer;
  }
}

.product-list__item {
  width: calc((100% - 60px) / 3);

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &:not(:nth-last-child(3n)) {
    margin-left: 30px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product-list__thumb {
  position: relative;
  overflow: hidden;
}

.product-list__card-image {
  display: block;
}

.product-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms $timingFunction, opacity 250ms $timingFunction;

  .product-list__item:hover &,
  .product-list__item:focus & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.product-list__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $whiteColor;
}

.product-list__card {
  padding: 20px 24px;

  background: $whiteColor;
  border: 1px solid #eeeeee;
}

.product-list__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  color: $fontColor;
  line-height: 1.17;
}

.product-list__category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
