.site-nav {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  display: none;

  @media screen and (min-width: 768px) {
    display: unset;
    color: $fontColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;

    transition: color 250ms $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    &--active {
      position: relative;

      color: $accentColor;

      &::after {
        @include pseudo();

        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accentColor;
      }
    }
  }
}

// .site-nav__item {
// color: $fontColor;
// font-weight: 500;
// font-size: 14px;
// line-height: 1.17;

// &:not(:last-child) {
//   margin-right: 50px;
// }
// }
