.contacts-list {
  @include centredFlex();
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contacts-list__mail-icon {
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.contacts-list__tel-icon {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}
