$accentColor: #2196f3;
$whiteColor: #ffffff;
$fontColor: #212121;
$altFontColor: #757575;
$bgColor: #2f303a;
$secondaryBgColor: #f5f4fa;
$mainFont: 'Roboto', sans-serif;
$accentFont: 'Raleway', sans-serif;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
