.address {
  display: flex;
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  &--white {
    color: $whiteColor;
  }
}
