.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 450px;
  min-height: 609px;

  @media screen and (min-width: 768px) {
    min-width: 528px;
    min-height: 581px;
  }

  background-color: $whiteColor;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timingFunction;

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__container {
  padding: 40px;
}

.modal__text-wrapper {
  min-height: 60px;
}

.modal__text {
  display: inline;

  color: $fontColor;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;

  &--centred {
    display: block;
    text-align: center;
  }
}
