.modal-form__label {
  position: relative;
  display: block;
}

.modal-form__label-text {
  display: block;
  margin-bottom: 4px;
  color: $altFontColor;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Modal Icons */

.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 15px;
  display: inline-block;
  cursor: pointer;
  width: 25px;
}

/* Modal Inputs */

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: $accentColor;
  transition: fill 250ms $timingFunction;
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid $accentColor;
}

.modal-form__comment-text {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;
  color: $altFontColor;
}

.modal-form__comment-section {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 25px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  &:focus {
    outline: none;
    border: 1px solid $accentColor;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__agreement-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
}
